# **Tugas 1 - Dissimilarity**

In [99]:
#awal mengimpor library pandas dan numpy 
import pandas as pd 
import numpy as np

In [100]:
#lalu menampilkan data yang sudah di upload di google drive
data = pd.read_csv('/content/drive/MyDrive/datamining/tugas/archive (3).zip')
#menampikan data dari bawah karena ada survived yang berbeda
data.tail()

,PassengerId,Country,Firstname,Lastname,Sex,Age,Category,Survived
984,985,Sweden,ANNA INGRID BIRGITTA,OSTROM,F,60,P,0
985,986,Sweden,ELMAR MIKAEL,OUN,M,34,P,1
986,987,Sweden,ENN,QUNAPUU,M,77,P,0
987,988,Sweden,LY,GUNAPUU,F,87,P,0
988,989,Sweden,CARL,OVBERG,M,42,P,1

In [101]:
#mengecek tipe data yang ada di data 
data.dtypes

PassengerId     int64
Country        object
Firstname      object
Lastname       object
Sex            object
Age             int64
Category       object
Survived        int64
dtype: object

In [102]:
# Show dataset shape / # Tampilkan bentuk kumpulan data
number_of_columns = data.shape[1]

In [103]:
# Show all columns for dataset / # Tampilkan semua kolom untuk kumpulan data
pd.set_option('display.max_columns', number_of_columns)
pd.set_option('display.max_rows', number_of_columns)

In [104]:
# Tampilkan semua kolom dari kerangka data
data.columns

Index(['PassengerId', 'Country', 'Firstname', 'Lastname', 'Sex', 'Age',
       'Category', 'Survived'],
      dtype='object')

# Tipe Data Nominal / Categorical 
Data nominal disebut juga dengan skala nominal. Data nominal adalah salah satu jenis data statistik kualitatif, yang membantu memberi label pada variabel tanpa memberikan nilai numerik.

Meski begitu, terkadang, datanya bisa kualitatif dan kuantitatif. Contoh data nominal adalah huruf, simbol, kata, jenis kelamin, dan sebagainya.

Data nominal diperiksa menggunakan metode pengelompokan. Dalam metodenya, data dikelompokkan ke dalam kategori. Kemudian frekuensi atau persentase data dihitung. Data ini direpresentasikan secara visual menggunakan diagram lingkaran.

dalam dataset kali ini saya akan menampilkan data nominal yakni terdiri dari "**firsname, Categorical dan surviived**"

In [105]:
#lihat ada 2 macam categori dalam data set (C dan P)
data[["Firstname","Category", "Survived"]].head(10)

      Firstname Category  Survived
0   ARVID KALLE        P         0
1           LEA        C         0
2          AIRI        C         0
3          JURI        C         0
..          ...      ...       ...
6       HJALMAR        P         0
7         PILLE        P         0
8         TORMI        C         0
9    ANNA MARIA        P         0

[10 rows x 3 columns]

In [106]:
data[["Firstname","Category", "Survived"]].tail(10)
# dalam data survived juga ada data 0 / 1

             Firstname Category  Survived
979               KNUD        P         0
980  GUNHILD ANNA-LISA        P         0
981       LARS TORSTEN        P         1
982        MAUD HELENA        P         0
..                 ...      ...       ...
985       ELMAR MIKAEL        P         1
986                ENN        P         0
987                 LY        P         0
988               CARL        P         1

[10 rows x 3 columns]

# Mengubah data ke 0/1

*   data yang di ambil dari kolom "Category"
*   Misal : nilai P dirubah menjadi 1
*   Misal : nilai C dirubah menjadi 0

In [107]:
# Category code
code_embark_for_Corom = "C"
code_embark_for_porom = "P"

# binary value
value_of_one = 1
value_of_zero = 0

#function mengubah 
def change_code_Category_to_biner(Category):
    return value_of_one if Category == code_embark_for_porom else value_of_zero

In [108]:
# Update all values of 'Category' series / mengupdate nilai kolom Category 
data["Category"] = data["Category"].apply(change_code_Category_to_biner)

In [109]:
data[["Firstname","Category", "Survived"]].head(10)

      Firstname  Category  Survived
0   ARVID KALLE         1         0
1           LEA         0         0
2          AIRI         0         0
3          JURI         0         0
..          ...       ...       ...
6       HJALMAR         1         0
7         PILLE         1         0
8         TORMI         0         0
9    ANNA MARIA         1         0

[10 rows x 3 columns]

In [110]:
#implementasi nomor colom 

# CONSTAN VARIABLE
DECREMENT_BY_ONE = 1
INCREMENT_BY_ONE = 1

CONTINGENCY_TABLE_VALUE = {
    "q" : (1,1),
    "r" : (1,0),
    "s" : (0,1),
    "t" : (0,0),
}

In [111]:
def get_series(data, idx, series):
    return data.loc[(idx), series]

In [112]:
def get_dissimilarity_dataset(data, series_index = [], series = []):
    first_series = get_series(data, series_index[0], series)
    second_series = get_series(data, series_index[1], series)
    dataset = pd.concat([first_series,second_series],axis=1)
    return dataset.T

In [113]:
get_dissimilarity_dataset(data, [5,9], ["Category", "Survived"]).T

          5  9
Category  1  1
Survived  0  0

In [114]:
data.loc[0:5, ["Category", "Survived"]]

   Category  Survived
0         1         0
1         0         0
2         0         0
3         0         0
4         1         0
5         1         0

In [130]:
def count_contingency_value(data, start_index = 0, last_index = 1):

    CONTINGENCY_VALUE = {
        "q" : 0,
        "r" : 0,
        "s" : 0,
        "t" : 0,
    }

    column_range = data.shape[1]

    for column in range(column_range):
        for value in CONTINGENCY_TABLE_VALUE:
            item = list((tuple(data.loc[(start_index):(last_index), data.columns[column]]) == CONTINGENCY_TABLE_VALUE[value], value))
            if item[0] == True:
                if item[1] == "q":
                    CONTINGENCY_VALUE["q"] += 1
                if item[1] == "r":
                    CONTINGENCY_VALUE["r"] += 1
                if item[1] == "s":
                    CONTINGENCY_VALUE["s"] += 1
                if item[1] == "t":
                    CONTINGENCY_VALUE["t"] += 1

    return CONTINGENCY_VALUE

In [131]:
# d(1,2)
data_1_2 = get_dissimilarity_dataset(data, [1,2], ["Category", "Survived"])

In [141]:
c_data_1_2 = count_contingency_value(data_1_2, 1, 2)

In [142]:
# d(1,3)
data_1_3 = get_dissimilarity_dataset(data, [1,3], ["Category", "Survived"])

In [143]:
c_data_1_3 = count_contingency_value(data_1_3, 1, 3)

In [144]:
# d(1,4)
data_1_4 = get_dissimilarity_dataset(data, [1,4], ["Category", "Survived"])

In [145]:
c_data_1_4 = count_contingency_value(data_1_4, 1, 4)

In [146]:
# d(1,5)
data_1_5 = get_dissimilarity_dataset(data, [1,5], ["Category", "Survived"])

In [147]:
c_data_1_5 = count_contingency_value(data_1_5, 1, 5)

# Rumus Nilai Assimetri Biner Dissimilarity

# $\frac{a + b}{a + b + c} $

In [151]:
def measure_dissimilarity_binary_value_assymetric_distance(contingency_value):

    return (contingency_value["r"] + contingency_value["s"]) / (contingency_value["q"] + contingency_value["r"] + contingency_value["s"])

In [152]:
d_1_2 = measure_dissimilarity_binary_value_assymetric_distance(c_data_1_2)
d_1_3 = measure_dissimilarity_binary_value_assymetric_distance(c_data_1_2)
d_1_4 = measure_dissimilarity_binary_value_assymetric_distance(c_data_1_2)

ZeroDivisionError: ignored